config.env
*.pyc
data*
.vscode
.idea
*.json
*.pickle
.netrc
log.txt
accounts/*
MediaInfo/*
Images/*
Thumbnails/*
rclone/*
tokens/*
list_drives.txt
shorteners.txt
cookies.txt
downloads
bot.session*
terabox.txt
rclone.conf
