config.env
*.pyc
data*
.vscode
.idea
*.json
*.pickle
.netrc
log.txt
accounts/*
MediaInfo/*
Images/*
Thumbnails/*
tanha/*
list_drives.txt
cookies.txt
downloads
bot.session
user.session
terabox.txt
rcl.conf