aiohttp
aiofiles
aioshutil
anytree==2.8.0
apscheduler
aria2p
asyncio
beautifulsoup4
bencoding
cinemagoer
cloudscraper
dnspython
electrogram
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
langcodes[data]
lxml
motor
mutagen
markdown
natsort
pillow
psutil
pybase64
pycountry
python-dotenv
pyshorteners
python-magic
quoters
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
tgcrypto
uv
uvloop
xattr
yt-dlp
